<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.integrate.org/platform/Matches"
			class = "de.fzi.emfcompare.matching.matches.MatchesPackage"
			genModel = "model/generated/Matches.genmodel" />
	</extension>
</plugin>
